/* Bootstrap RESETS */
.col-md-12, .col-md-6 {
  padding: 0;
}

/* NAV */
.row {
  margin: 0 !important;
}
.nav-wrapper {
  background: white;
}
nav ul {
  height: 100%;
}
.hide-on-med-and-down { 
  height: 65px;
}
.logo {
  display: flex;
  align-items: center;
  height: 65px;
  padding-left: 40px;
}
.nav-wrapper li a{
  color: #363636;
  font-weight: 600;
}
.logo img {
  height: 35px;
}
.centerHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
}
.row .col {
  padding: 0;
}
nav .hide-on-med-and-down .col-6, .col-3 {
  justify-content: center;
  align-items: center;
}
.blueButton {
  background: #2866C1; 
  height:40px; 
  border: none;
  display: inline;
  padding: 1rem 2rem;
  border-radius: 6px;
}
.textCenter {
  text-align: center;
}

/* Home Page */
.heroBG {
  background: url('./images/guradianhero.png');
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;

}
.sectionTwo {
  background: #363636;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionTwo p {
  color:white;
  font-size: 40px;
  max-width: 45%;
  text-align: center;
  line-height: 50px;
}
.sectionThree {
  height: auto;
  position: relative;
}
.sectionThree .cardOne {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sectionThree .cardOne img {
  height:684px;

}
.cardOneBottom {
  background:#F8F9FB;
  width: 100%;
  height: 320px;
  padding:40px;
}
.cardOneBottom h2 {
  font-size: 30px;
}
.cardOneBottom p {
  max-width: 50%;
}
.watch{ 
  height: 40px;
  position: absolute;
  padding: 40px;
  width: 100%;
  height: 120px;
  margin: 30px auto 0 auto;
  left: 0;
  border-top: 1px solid #d3d3d3;
  display: flex;
  align-items: center;
}
.fa-long-arrow-right {
  margin-left: 20px;
}
.sectionThree .cardTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sectionThree .cardTwo img {
  height:684px;

}
.cardTwoBottom {
  background:#2866C1;
  width: 100%;
  height: 320px;
  padding:40px;
}
.cardTwoBottom h2 {
  font-size: 30px;
  color:white;
}
.cardTwoBottom p {
  max-width: 60%;
  color:white;
}
.cardTwoBottom .watch{ 
  height: 40px;
  position: absolute;
  padding: 40px;
  width: 100%;
  height: 120px;
  margin: 30px auto 0 auto;
  left: 0;
  border-top: 1px solid #d3d3d3;
  display: flex;
  align-items: center;
}
.cardTwoBottom .fa-long-arrow-right, .cardTwoBottom .watch span {
  color:white;
} 
.banner {
  height:150px;
  width:100%;
  background: #363636;
}
.cardOneImg {
  width: 100%;
  background: url('./images/leak.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 684px;
}
.cardTwoImg {

  width: 100%;
  background: url('./images/faceb.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 684px;
}