<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    </head>
    <body style="background:#449DDF;overflow-y:hidden;">
        <img src="images/guardian.jpg" alt"guardian" style="display:block;margin:auto;position:relative;bottom:4rem;" />
        <h1 style="text-align:center;font-family: 'Anton', sans-serif;color:white;font-weight:400;font-size:40px;letter-spacing:5px;position:relative;bottom:180px;">Coming Soon</h1>
    </body>
</html>