@media screen and (max-width: 400px) {
  h2.product-header {
    position: relative;
    top: 5rem;
  }
  div.product-header {
    position: relative;
    top: 7rem;
  }
  img.product-header {
    top: 5rem;
  }
}
